* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  height: 72vh;
  width: 95vw;
  background-color: #ffaa00;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  background-color: #ffaa00;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  font-size: 1.5rem;
  padding-top: .7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
}

.text {
  margin: 1rem;
  margin-bottom: 1.5rem;
  color: #000;
  text-align: center;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
}
